NB_URL = "https://netbox.intern.relaix.net/"
NB_TOKEN = ""

PDNS_API_URL = "http://[2a00:fe0:0:200::12]:8081/api/v1"
PDNS_KEY = ""

FORWARD_ZONES = ["intern.relaix.net"]
REVERSE_ZONES = [{"zone": "12.168.192.in-addr.arpa.", "prefix": "192.168.12.0/24"}]
