NB_URL = "https://netbox.local/"
NB_TOKEN = ""

PDNS_API_URL = "http://powerdns.local:8081/api/v1"
PDNS_KEY = ""

FORWARD_ZONES = ["local"]
REVERSE_ZONES = [{"zone": "10.10.10.in-addr.arpa.", "prefix": "10.10.10/24"}]

DRY_RUN = True

SOURCE_IP = True
SOURCE_DEVICE = True
SOURCE_VM = True